/* ALL NAVBAR STUFF */
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(209, 33, 33, 0.904);
	position: sticky;
	top: 0;
}

li {
	display: block;
	float: left;
	padding: 14px 16px;
	color: white;
	border-right: 1px solid #bbb;

	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 20px;
}

li:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.notActive {
	display: none;
}

/* TABLE */

/* EVERYTHING ELSE */

.mainText,
.subText {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainText {
	margin-top: 100px;
	font-size: 40px;
}
.subText {
	font-size: 30px;
}

.submit {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.studentsTable {
	text-align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	border: 2px black solid;
}
.studentsTable th {
	text-align: center;
}

.newName {
	margin-top: -100px;
}

.bottomScreen {
	position: fixed;
	bottom: 0;
	background-color: rgb(75, 75, 75);
	color: white;
	width: 100%;
	left: 0;
	padding-left: 10px;
	height: 7%;
}

.pointsInput {
	height: 30px;
	width: 200px;
}

.tableRow {
	border-bottom: 1px solid black;
	font-size: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#gradeTable tbody tr:nth-child(odd) {
	background-color: lightgray;
}

/* IDs */
#submit {
	margin-top: 0;
	width: 100px;
	height: 35px;
	border-radius: 5px;
	background-color: black;
	color: white;
}

#submit:hover:not([disabled]) {
	cursor: pointer;
}

/* Types */
table {
	margin-top: 100px;
	border-collapse: collapse;
	width: 100%;
}

table th {
	border-bottom: 2px black solid;
	text-align: left;
	background-color: rgba(209, 33, 33, 0.904);
	font-size: 20px;
	color: white;
}

tbody tr {
	border-bottom: 1px solid black;
	font-size: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
table button {
	background-color: gray;
	color: white;
}
table button:hover {
	cursor: pointer;
}

input {
	margin-right: 10px;
}

img {
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
