body,
html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
	background-image: url("images/bgImage.jpg");
	filter: blur(8px);
	height: 100%;
	max-height: 100%;
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 85%;
	max-width: 80%;
	width: 80%;
}

.block {
	margin-top: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	font-weight: bold;
	border: 3px solid #f1f1f1;
	width: 49%;
	max-width: 49%;
}

.image {
	max-height: 30%;
	max-width: 30%;
	border-radius: 25px;
	text-align: Left;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.imageNoBorder {
	max-height: 30%;
	max-width: 30%;
	text-align: Left;
	float: left;
	padding-bottom: 10px;
	padding-left: 10px;
}
.smallText {
	font-size: 0.7vw;
	text-align: left;
	padding-left: 30px;
}

.sep {
	border-bottom: 2px solid white;
}

h1,
h2 {
	text-align: center;
	font-size: 2vw;
}

p {
	text-align: center;
	font-size: 1vw;
}

ul {
	columns: 2;
	font-size: 1vw;
}
ol {
	margin-bottom: 20px;
	font-size: 1vw;
}

/* All Table Stuff */
table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 90%;
	max-width: 90%;
	border: 2px solid white;
	font-size: 1vw;
}

table thead {
	background-color: rgba(0, 0, 0, 0.4);
	border: 0;
}

thead {
	text-align: left;
}

tbody tr {
	border: 2px solid white;
}

tbody tr:nth-child(odd) {
	background-color: rgba(97, 97, 97, 0.4);
}

tbody tr:nth-child(even) {
	background-color: rgba(172, 171, 171, 0.4);
}

tbody tr:last-of-type {
	border-bottom: 2px rgba(0, 0, 0, 0.4);
}
