body,
html {
	height: 100%;
	margin: 0;
	background-image: url("images/bgImage.jpg");
	background-size: cover;
}

.navbar {
	/* Display */
	display: flex;
	justify-content: center;
	background-color: black;
}

.navbarText {
	/* Font */
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.8vw;
	letter-spacing: 4px;
	color: rgb(255, 255, 255);

	/* Sizing and Color */
	background-color: rgb(51, 50, 50);
	max-width: 60%;
	max-height: 5%;
	padding: 10px;
}

.coin {
	border-radius: 50%;
	max-width: 25%;
	height: auto;
	margin-top: 75px;
}

.coin:hover {
	cursor: pointer;
}

.coinMain {
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.coinHead,
.coinTail {
	position: absolute;
	width: 100%;
}

.coinTail {
	transform: rotateY(180deg);
}

.button {
	display: block;
	max-height: 45%;
	max-width: 45%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.whiteText {
	color: white;
	border-collapse: collapse;
	max-width: 150px;
	margin-left: 50px;
	margin-top: 30px;
}

.whiteText p {
	border: 2px solid black;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5vw;
	background-color: rgba(126, 125, 125, 0.3);
}
